*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-background: #eee;
    --color-text: #353535;
    --color-backgroundpainel: #fff;
    --color-hover: #ccc;
    --color-border: rgb(197, 197, 197);
    --color-backgroundtabs: #f1f1f1;
}

.dark-mode:root{
    --color-background: #1a1919;
    --color-text: #fff;
    --color-backgroundpainel: #1d1d1d;
    --color-hover: #0e0e0e;
    --color-border: #070707;
    --color-backgroundtabs: #141414;
}

html{
    background-color: var(--color-background);
}

.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.switch .switch-wapper{
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
}

.switch .switch-wapper .switch-button{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background-color: #475569;
}

.switch .switch-wapper input{
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .switch-wapper .switch-button::before{
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    transition: .4s all ease;
    background-color: white;
}

.switch .switch-wapper input:checked + .switch-button{
    background-color: white;

}

.switch .switch-wapper input:checked + .switch-button::before{
    transform: translateX(26px);
    background-color: #475569;
}

.menu{
    background-color: var(--color-background);
    float: right;
    top: 0;
    z-index: 999;
    position: relative;
    padding-top: 8px;
    padding-right: 20px;
    height: 0;
}



.acordeon{
    background-color: var(--color-background);
    color: var(--color-text);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.5s;
    position: relative;
}

.painel{
    padding: 0 18px;
    color: var(--color-text);
    background-color: var(--color-backgroundpainel);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.selection, .acordeon:hover{
    background-color: var(--color-hover);

}

.rodape{
    background-color: var(--color-background);
    width: 100%;
    height: 100px;
    border: 1px solid var(--color-border);
    text-align: center;
}

.credits{
    color: var(--color-text);
    text-align: center;
    padding-top: 50px;
}

a{
    color: var(--color-text); 
    text-decoration: none;
    font-weight: 500;
}

.topo{
    position: relative;
    width: 100%;
    top: 0;

}

.title{
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 22px;
    margin-left: 68px;
}

.description{
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 30px;
}




/*  Semana 1    */

.tabs{
    overflow: hidden;
    border: 1px solid var(--color-border);
    background-color: var(--color-backgroundtabs);
}

.tabs button{
    background-color: inherit;
    color: var(--color-text);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 17px;
}

.tabs button:hover{
    background-color: var(--color-hover);
}

.tabs button.active{
    background-color: var(--color-hover);
}

.conteudoTab{
    padding: 6px 12px;
    border: 1px solid var(--color-border);
    border-top: none;
}

.iconTab{
    color: var(--color-text);
    float: right;
    font-size: 20px;
}

.iconTab:hover{
    color: var(--color-text);
    transition-duration: 1s;
}

/*  Semana 2 */

.tabs2{
    overflow: hidden;
    border: 1px solid var(--color-border);
    background-color: var(--color-backgroundtabs);
}

.tabs2 button{
    background-color: inherit;
color: var(--color-text);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 17px;
}

.tabs2 button:hover{
    background-color: var(--color-hover);
}

.tabs2 button.active{
    background-color: var(--color-hover);
}

.conteudoTab2{
    padding: 6px 12px;
    border: 1px solid var(--color-border);
    border-top: none;
}

/* Semana 3 */

.tabs3{
    overflow: hidden;
    border: 1px solid var(--color-border);
    background-color: var(--color-backgroundtabs);
}

.tabs3 button{
    background-color: inherit;
color: var(--color-text);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.4s;
    font-size: 17px;
}

.tabs3 button:hover{
    background-color: var(--color-hover);
}

.tabs3 button.active{
    background-color: var(--color-hover);
}

.conteudoTab3{
    padding: 6px 12px;
    border: 1px solid var(--color-border);
    border-top: none;
}

    /*  Semana 4 */

    .tabs4{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs4 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs4 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs4 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab4{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 5 */

    .tabs5{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs5 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs5 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs5 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab5{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 6 */

    .tabs6{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs6 button{
        background-color: inherit;
        color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs6 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs6 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab6{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 7 */

    .tabs7{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs7 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs7 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs7 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab7{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 8 */

    .tabs8{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs8 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs8 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs8 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab8{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 9 */

    .tabs9{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs9 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs9 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs9 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab9{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 10 */

    .tabs10{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs10 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs10 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs10 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab10{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 11 */

    .tabs11{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs11 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs11 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs11 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab11{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 12 */

    .tabs12{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs12 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs12 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs12 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab12{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 13 */

    .tabs13{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs13 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs13 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs13 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab13{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 14 */

    .tabs14{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs14 button{
        background-color: inherit;
    color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs14 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs14 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab14{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }

    /*  Semana 15 */

    .tabs15{
        overflow: hidden;
        border: 1px solid var(--color-border);
        background-color: var(--color-backgroundtabs);
    }
    
    .tabs15 button{
        background-color: inherit;
        color: var(--color-text);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.4s;
        font-size: 17px;
    }
    
    .tabs15 button:hover{
        background-color: var(--color-hover);
    }
    
    .tabs15 button.active{
        background-color: var(--color-hover);
    }
    
    .conteudoTab15{
        padding: 6px 12px;
        border: 1px solid var(--color-border);
        border-top: none;
    }